/* Styles pour le joystick */
#joystick-container {
    display: none;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#joystick {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.3);
    position: relative;
}



/* Styles pour le speedometer */
/* Speedometer */
#speedometer {
    margin: 10px auto;
    width: 180px;
    height: 90px;
}

#speedometer .wrapper {
    width: 100%;
    height: 100%;
    border-top-left-radius: 360px;
    border-top-right-radius: 360px;
    overflow: hidden;
    position: relative;
}

#speedometer .wrapper .indicator-wrapper {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 70%;
    height: 70%;
    border-top-left-radius: 360px;
    border-top-right-radius: 360px;
    background-color: #ffffff;
    z-index: 400;
}

#speedometer .wrapper .bar {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: bottom center;
}

#speedometer .wrapper .bar-1 {
    top: 0;
    left: 0;
    z-index: 200;
    transform: rotate(-140deg);
    background: linear-gradient(to right, green, yellow);
}

#speedometer .wrapper .bar-2 {
    top: 0;
    right: 0;
    z-index: 150;
    transform: rotate(-90deg);
    background: linear-gradient(to right, yellow, orange);
}

#speedometer .wrapper .bar-3 {
    top: 0;
    left: 0;
    z-index: 100;
    transform: rotate(-40deg);
    background: linear-gradient(to right, orange, red);
}

#speedometer .wrapper .bar-4 {
    top: 0;
    left: 0;
    z-index: 0;
    transform: rotate(30deg);
    background: red;
}

#indicator {
    width: 5px;
    height: 80%;
    background: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-140deg);
    transform-origin: bottom;
    z-index: 500;
}
#speedometer .wrapper .indicator-wrapper {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    height: 80%;
    border-top-left-radius: 360px;
    border-top-right-radius: 360px;
    background-color: #ffffff;
    z-index: 400;
}

#speedometer .wrapper .indicator-wrapper #needle {
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: black;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom center;
    transition: transform 0.1s ease-out; /* L'animation de l'aiguille */
}
